

<ul>
<% @entities.each do |entity| %>

    <li><%= link_to entity.name, entity %>
     <span class="<%= entity.entity_name(entity.entity_type) %>" > <%= entity.entity_name(entity.entity_type) %></span>
     <% if user_signed_in? %>
      <%= link_to 'Edit', edit_entity_path(entity) %>
      <%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %>
     <% end %>
    </li>
    
<% end %>
</ul>

<br />


<% if can? :new, @entity %>
    <%= link_to "+ Add New", new_entity_path %>
<% end %>
