<h1>Sharesleuth Matrix</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Story</th>
    <th>Admin</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entities.each do |entity| %>
  <tr>
    <td><%= entity.name %></td>
    <td><%= entity.description %></td>
    <td><%= entity.story %></td>
    <td><%= assign_entity_type(entity.entity_type) %></td>
    <td><%= link_to 'Show', entity %></td>
    <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    <td><%= link_to 'Destroy', entity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<% if can? :new, @entity %>
    <%= link_to "New", new_entity_path %>
<% end %>
