<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @story.url %>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>User:</b>
  <%= @story.user %>
</p>

<p>
  <b>Byline:</b>
  <%= @story.byline %>
</p>

<p>
  <b>Written at:</b>
  <%= @story.written_at %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
